<app-tabs-group>
  <app-tab label="ToDo's">
    <app-todo-list
      [todos]="list$ | async"
      (addClick)="addTodoClicked()"
      (todoSelect)="selectTodo($event)"
      (doneChange)="saveTodo($event)"
      *ngIf="(loading$ | async) === false; else loader"
    ></app-todo-list>
  </app-tab>
  <app-tab label="test 2">
    <h2>Test 2 tab content...</h2>
  </app-tab>
  <app-tab label="test 3">
    <h2>Test 3 tab content...</h2>
  </app-tab>
</app-tabs-group>

<app-edit-todo
  #todoDialog
  [isNewTodo]="isNew$ | async"
  [todo]="selectedTodo$ | async"
  (saveClick)="saveTodo($event)"
></app-edit-todo>

<ng-template #loader>
  <div class="message-box">
    <i class="material-icons">hourglass_empty</i>
    Loading...
  </div>
</ng-template>
