@import "../../../colors";

:host {
  position: fixed;
  bottom: 10px;
  left: 10px;
}

div {
  background-color: $black;
  color: $primary-text-color;
  min-width: 250px;
  padding: 1em;
  border-radius: 5px;
  text-align: left;
}
