<div class="card">
  <div class="card-image">
    <img src="assets/images/logo.png" />
  </div>
  <form #loginForm="ngForm" novalidate (ngSubmit)="submitLoginForm(loginForm)">
    <div class="card-content">
      <input
        data-test-id="email"
        type="text"
        name="email"
        placeholder="Email"
        ngModel
        required
      />
      <input
        data-test-id="password"
        type="password"
        name="password"
        placeholder="Password"
        ngModel
        required
      />
    </div>
    <div class="card-actions">
      <button
        data-test-id="loginButton"
        type="submit"
        [disabled]="loginForm.invalid"
      >
        Login
      </button>
      <!-- <button (click)="doGoogleLoginClick()">Login with Google</button> -->
    </div>
  </form>
</div>
