@import "../../../colors";

.card {
  width: 700px;
  min-height: 200px;
  .card-content {
    max-height: 600px;
    overflow-y: auto;
  }
}

table {
  border-collapse: collapse;
}
thead {
  color: $primary;
}
th:first-child,
td:first-child {
  border-right: 2px solid $primary;
}
tr:nth-child(odd) {
  background-color: #444;
}
td {
  button {
    padding: 0;
    border: none;
  }
  padding: 5px;
}
th {
  text-align: left;
  padding: 5px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9;
  background-color: $darker-gray;
}

td[short] {
  width: 40px;
}
td[middle] {
  width: 100px;
}

th[center],
td[center] {
  text-align: center;
}
