@import "../../../colors";

.card {
  width: 500px;
  min-height: 200px;
}

table {
  border-collapse: collapse;
}
tr:first-child {
  border-bottom: 2px solid $primary;
}
th:first-child,
td:first-child {
  border-right: 2px solid $primary;
}

td {
  button {
    padding: 0;
  }
  text-align: center;
}
