<div class="card">
  <div class="card-content">
    <table *ngIf="todos?.length > 0; else noItems">
      <thead>
        <tr>
          <th></th>
          <th>Title</th>
          <th>Description</th>
          <th center>Due</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let todo of todos">
          <td center short>
            <input
              type="checkbox"
              appTooltip="Mark as done"
              position="left"
              [checked]="todo.done"
              (change)="checkedChanged($event, todo)"
            />
          </td>
          <td middle>{{ todo.title }}</td>
          <td>{{ todo.description }}</td>
          <td center middle>{{ (todo.due | date: "dd/MM/yyyy") || "None" }}</td>
          <td center short>
            <button
              (click)="rowClicked(todo)"
              appTooltip="Edit item"
              position="right"
            >
              <i class="fas fa-edit"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <ng-template #noItems>
      <div class="message-box">
        <i class="fas fa-check-double"></i>
        No Todo's!
      </div>
    </ng-template>
  </div>
  <div class="card-actions">
    <button
      (click)="addButtonClicked()"
      appTooltip="Add new Todo"
      position="right"
    >
      <i class="fas fa-plus"></i>
      Add item
    </button>
  </div>
</div>
