<app-icon-button
  class="open-button"
  (handleClick)="open()"
  icon="keyboard_arrow_right"
  tooltip="Open sidebar"
  position="right"
></app-icon-button>

<div class="overlay" *ngIf="show">
  <div class="sidebar">
    <div headerRow>
      Menu
      <span flex></span>
      <app-icon-button
        (handleClick)="close()"
        icon="keyboard_arrow_left"
      ></app-icon-button>
    </div>
    <div content>
      <ng-content></ng-content>
    </div>
  </div>
  <div (click)="close()" class="rest-of-page"></div>
</div>
