<button
  (click)="open()"
  class="icon open"
  appTooltip="Open sidebar"
  position="right"
>
  <i class="material-icons">keyboard_arrow_right</i>
</button>

<div class="overlay" *ngIf="show">
  <div class="sidebar">
    <div headerRow>
      Menu
      <span flex></span>
      <button (click)="close()" class="icon">
        <i class="material-icons md-36">keyboard_arrow_left</i>
      </button>
    </div>
    <div content>
      <ng-content></ng-content>
    </div>
  </div>
  <div (click)="close()" class="rest-of-page"></div>
</div>
