<div *ngIf="show" class="container">
  <div class="card">
    <div class="card-header">
      {{ isNewTodo ? "New ToDo" : "Edit ToDo" }}
    </div>
    <form
      #todoForm="ngForm"
      *ngIf="todoItem?.id > ''"
      novalidate
      (ngSubmit)="submitTodoForm(todoForm)"
    >
      <div class="card-content">
        <input
          type="text"
          class="form-control"
          name="title"
          [(ngModel)]="todoItem.title"
          placeholder="title"
          maxlength="100"
          required
        />

        <input
          type="text"
          class="form-control"
          name="description"
          [(ngModel)]="todoItem.description"
          placeholder="description [max 200]"
          maxlength="200"
          required
        />

        <input
          type="date"
          class="form-control"
          name="due"
          [(ngModel)]="todoItem.due"
          placeholder="Due date"
          required
        />
      </div>
      <div class="card-actions">
        <button (click)="cancelClicked($event)" tabindex="-1">
          Cancel
        </button>
        <button type="submit" [disabled]="todoForm.invalid">
          Save
        </button>
      </div>
    </form>
  </div>
</div>
