<div *ngIf="show" class="container">
  <div class="card">
    <div class="card-header">
      {{ isNewTodo ? "New ToDo" : "Edit ToDo" }}
    </div>
    <form
      #todoForm="ngForm"
      novalidate
      (ngSubmit)="submitTodoForm(todoForm)"
      *ngIf="todo && todo.id > ''"
    >
      <div class="card-content">
        <input
          type="text"
          class="form-control"
          name="title"
          ngModel
          placeholder="title"
          required
        />

        <input
          type="text"
          class="form-control"
          name="description"
          ngModel
          placeholder="description"
          required
        />

        <!-- TODO: turn this into a date picker -->
        <input
          type="text"
          class="form-control"
          name="due"
          ngModel
          placeholder="Due [todo: datepicker]"
        />
      </div>
      <div class="card-actions">
        <button (click)="close()">
          Cancel
        </button>
        <button type="submit" [disabled]="todoForm.invalid">
          Save
        </button>
      </div>
    </form>
  </div>
</div>
