$background-color: #555;
$primary-text-color: #ddd;

$white: #fff;
$black: #000;
$lightest-gray: #eee;
$light-gray: #ddd;
$middle-gray: #aaa;
$dark-gray: #666;
$darker-gray: #222;

$primary: #008cba;
$accent: #990000;
