$background-color: #555;
$primary-text-color: #ddd;

$white: #fff;
$black: #000;
$lightest-gray: #eee;
$light-gray: #ddd;
$middle-gray: #aaa;
$dark-gray: #666;
$darker-gray: #222;

$primary: #008cba;
$primary-dark: #0b5394;
$warn: #990000;
$warn-light: #e06666;
$warn-background-color: #f4cccc;
