@import "./colors";
@import "./mixins";
html {
  height: 100vh;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}
body {
  background-color: $background-color;
  color: $primary-text-color;
  height: 100%;
}

button,
.button {
  background-color: transparent;
  color: $primary;
  border: 2px solid $primary;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover,
.button:hover {
  background-color: $lightest-gray;
}

button[disabled],
.button[disabled] {
  background-color: $light-gray;
  color: $dark-gray;
  border: 2px solid $dark-gray;
  cursor: auto;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="date"],
select {
  padding: 8px 15px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid $primary;
  background-color: $light-gray;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
select:focus {
  background-color: $white;
}

input[type="text"]:disabled,
input[type="password"]:disabled,
input[type="email"]:disabled,
input[type="number"]:disabled,
input[type="date"]:disabled,
select:disabled {
  border: 2px solid $dark-gray;
  background-color: $middle-gray;
}

input.ng-invalid.ng-touched {
  border: 2px solid $warn;
  color: $warn;
  background-color: $warn-background-color;
}

input.ng-invalid.ng-touched::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $warn-light;
  opacity: 1; /* Firefox */
}
input.ng-invalid.ng-touched:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: $warn-light;
}
input.ng-invalid.ng-touched::-ms-input-placeholder {
  /* Microsoft Edge */
  color: $warn-light;
}

label {
  margin-bottom: -5px !important;
  font-size: 0.9em;
  font-weight: bold;
}

button[disabled]:hover,
.button[disabled]:hover {
  background-color: $light-gray;
}

div.card {
  display: flex;
  flex-direction: column;
  padding: 12px;
  background-color: $darker-gray;
  border-radius: 5px;
  color: $light-gray;

  div {
    margin: 5px 0;
  }

  .card-image {
    img {
      width: 100%;
    }
  }
  .card-header {
    font-size: 1.2em;
    font-weight: bold;
  }

  .card-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    * {
      margin: 5px;
    }
  }

  .card-actions {
    flex-direction: row;
    justify-content: flex-end;
    display: flex;
    align-items: center;
    font-size: 0.8em;
  }
}

.message-box {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: 1.2em;
  color: $primary;

  i {
    font-size: 1.4em;
    margin: 3px;
  }
}

[flex] {
  flex: 1;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  @include page;
}

::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar-track {
  background: $middle-gray;
}
::-webkit-scrollbar-thumb {
  background: $primary;
}
::-webkit-scrollbar-thumb:hover {
  background: $primary-dark;
}
